@media screen and (min-width: 650px) {
    .app-bar {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
    }
  
    .app-bar .app-bar__brand h1 {
      font-size: 1.5em;
    }
  
    .app-bar .app-bar__menu {
      display: none;
    }
  
    .app-bar .app-bar__navigation {
      position: static;
      width: 100%;
    }
  
    .app-bar .app-bar__navigation ul li {
      display: inline-block;
    }
  
    .app-bar .app-bar__navigation ul li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 0;
    }
  
    .hero {
      background-image: url('./images/hero-image_2-sm.jpg');
      background-position: center;
    }
  
    .restaurants {
      grid-template-columns: 1fr 1fr;
    }
  
    .restaurant {
      grid-template-columns: auto 1fr;
    }
  
    .restaurant__title {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
    .restaurant__overview {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .restaurant-reviews {
      margin: 20px auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;
    }
  
    .restaurant-item .restaurant_item__header .restaurant_item__header__poster {
      height: 200px;
      object-fit: cover;
    }
  }
  
  @media screen and (max-width: 700px) {
    .restaurant-item .restaurant_item__header .restaurant_item__header__poster {
      height: 250px;
    }
  }
  
  @media screen and (min-width: 800px) {
    .app-bar .app-bar__brand h1 {
      font-size: 2em;
    }
  }
  
  @media screen and (min-width: 850px) {
    .restaurants {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media screen and (min-width: 1200px) {
    .restaurants {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media screen and (min-width: 1600px) {
    .restaurants {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  